html,body,#root {
    height: 100%;
    font-family: "Open Sans",sans-serif;
    background: var(--light);
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.vmbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

input:focus, button:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
}
button:hover, input[type=checkbox] {
    cursor: pointer;
}

input{
    border: none;
}