.form_container {
    width: 100%;
    height: 100%;
    display: block;
    overflow: scroll;

}
.form_container input.animated {
    animation-duration: 0.3s ;
}

.form_container .header {
    padding: 5% 6% 0 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.form_container .header label {
    width: 30%;
    text-align: center;
}

.form_container .divide_line {
    text-align: center;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.form_container .divide_line::after,
.form_container .divide_line::before{
    content: ' ';
    width: 35%;
    height: 2px;
    background: var(--dark);
    display: block;
}
.form_container .divide_line::before{
    margin-right: 5%;
}
.form_container .divide_line::after {
    margin-left: 5%;
}

.form_container .btn_block {
    display: flex;
    flex-direction: row-reverse;
    padding: 1% 17% 10% 0;
}


.form_container .add_btn {
    margin: 0 10px 0 10px;
}

.form_container .submit_btn {
    margin: 0 0 0 10px;
}

.form_container .form_field {
    display: flex;
    flex-direction: row;
    padding: 1% 10% 1% 20%;
}


.form_container .form_field .left {
    width: 90%;
}

.form_container .form_field .right{
    width: 10%;
    display: flex;
    padding: 1% 1% 1% 1%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


.form_container .form_field .right .remove_block{
    width: 2em;
    height: 2em;
    display: none;
    animation-duration: 0.5s;
    margin-top: 50px;
}

.form_container .form_field .right .remove_block:hover {
    cursor: pointer;
    color: red;
}

.form_container .form_field .right .remove_block svg {
    width: inherit;
    height: inherit;
}

.form_container .form_field.animated {
    animation-duration: 0.5s;
}

