.home_page {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    height: 100%;
    width: 100%;
}

.home_page .header_bar {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    font-size: larger;
    font-family: Arial, sans-serif;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.home_page .header_bar div{
    padding: 0 20px 0 20px;
    font-family: 'Playfair Display', cursive;
}

.home_page .header_bar .log_out_btn {
    display: flex;
    width: 150px;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}



.home_page .header_bar .log_out_btn svg {
    width: 25px;
    height: 25px;
    color: var(--gray-dark);
}

.home_page .header_bar .log_out_btn svg:hover {
    cursor: pointer;
    color: var(--red);
}

.home_page .header_bar .logo {
    width: 160px;
    height: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 20px;
}

.home_page .header_bar .logo i{
    width: 100px;
    height: 50px;
    background: url("https://www.sheffield.ac.uk/polopoly_fs/15.375.1548777706!/assets/images/uos-crest.svg") -10px center no-repeat transparent;
    background-size: 100px 50px;
}

.home_page .header_bar .logo .profile {
    width: 35px;
    height: 35px;
    padding: 0;
    position: relative;
}

.home_page .header_bar .logo .profile img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    z-index: 0;
}
.home_page .header_bar .logo .profile .role {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -5px;
    right: -15px;
    z-index: 1;
    border-radius: 50%;
    opacity: 0;
}
.home_page .header_bar .logo .profile .role:hover {
    cursor: help;
}

.home_page .header_bar .logo:hover .profile .role {
    opacity: 1;
}

.home_page .header_bar .logo .profile .role.default {
    color: #777;
}

.home_page .header_bar .logo .profile .role.ltm {
    color: #CB4335;
}

.home_page .header_bar .logo .profile .role.tutor {
    color: #2471A3;
}

.home_page .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.home_page .content .nav_bar {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-right: 1px solid #ccc;
}
.home_page .content  .content_block{
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.home_page .content .nav_bar .menu {
    width: 100%;
    padding: 10px 10px 10px 0;
}

.home_page .content .nav_bar .menu_title {
    height: 30px;
    font-size: 1rem;
    padding-left: 20px;
    display: flex;
    align-items: center;

}
.home_page .content .nav_bar .menu_title svg{
    width: 20px;
    height: 20px;
}

.home_page .content .nav_bar .menu_item {
    padding-left: 20px;
    height: 30px;
    line-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 20px 20px 0;
    margin: 2px 0 2px 0;
    color: #767676;

}
.home_page .content .nav_bar  svg {
    width: 20px;
    height: 20px;

}
.home_page .content .nav_bar  span ,
.home_page .content .nav_bar  span {
    padding: 0 0 0 20px;

}

.home_page .content .nav_bar .items_container:hover {
    cursor: pointer;

}

.home_page .content .nav_bar .menu_item:hover {
    background: #f1f3f4;
    color: #202124;
    z-index: 0;
}

.home_page .nav_bar .menu_appendix {
    height: 60px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.home_page .nav_bar .menu_appendix div{
    position: absolute;
}

.home_page .nav_bar .menu_appendix .create_label{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: content-box;
    border: 3px solid #767676;
    border-radius: 30px 30px 30px 30px;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    transition: width 0.5s, border-radius 0.5s;
}

.home_page .nav_bar .menu_appendix .create_btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-sizing: content-box;
    border-radius: 50%;
    display: inline;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    opacity: 1;
    transition: transform 0.7s;
    color: #767676;
}

.home_page .nav_bar .menu_appendix .create_label span{
    display: inline;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
    /*opacity: 0;*/
    /*transition: opacity 0.5s 0.5s;*/
    color: #767676;
}

.home_page .nav_bar .menu_appendix .create_btn svg {
    width: 20px;
    height: 20px;
    margin-top: 5px;

}

.home_page .nav_bar .menu_appendix:hover .create_label{
    cursor: pointer;
    border: 3px solid var(--blue);
    width: 80%;
    border-radius: 30px 30px 30px 30px;
    color: #000;
}

.home_page .nav_bar .menu_appendix:hover .create_btn{
    transform:  translate(-45%) rotate(-90deg);
    color: var(--blue);
}

.home_page .nav_bar .menu_appendix:hover span{
    opacity: 1;
    color: var(--blue);
}